@font-face {
  font-family: 'FOT-Seurat-Pro-B';
  src: local('FOT-Seurat-Pro-B'), url(./fonts/FOT-Seurat-Pro-B.woff) format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/animalcrossing_bg_grass.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
  font-family: FOT-Seurat-Pro-B;
}

.img {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}