body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/animalcrossing_bg_grass.jpg");
  font-family: 'Fredoka One', cursive;
}

.logo {
  margin-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.jumbotron {
  padding: 10px
}

.score_container {
  width: 100%;
  overflow: auto;
  display: flex;
}

.score_counter {
  width: 49%;
  margin: auto;
  float: right;
  text-align: right;
  padding-right: 10px;
}

.high_score_counter {
  width: 49%;
  margin: auto;
  float: left;
  text-align: left;
  padding-left: 10px;
}

h1 {
  font-family: 'Fredoka One', cursive;
}

.img {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.card {
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.fade-out{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fade-in{
  opacity:1;
}

.card-shake {
  animation: shake 0.5s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}